<style>

  label {
    padding-left: 15px;
  }

  .container {
    padding-top: 60px;
  }

  .article {
    padding-top: 45px;
  }

  .single-autocomplete {
    max-height: 650px !important;
  }

</style>

<app-header></app-header>
<div class="container">
  <!--      TODO Display Tags for filter-->
  <!--      <span *ngFor="let tag of globalStore.allTags">-->
  <!--      <div>-->
  <!--        <input [attr.id]="tag.id" type="checkbox" (click)="tag.selected = !tag.selected; globalStore.loadArticles()" [checked]="tag.selected">-->
  <!--        <label [attr.for]="tag.id">{{ tag.title }}</label>-->
  <!--      </div>-->
  <!--    </span>-->
  <div class="row article">
      <div class="col-md-6">
          <app-current-article [article]="globalStore.displayedArticle"></app-current-article>
      </div>
      <div [ngClass]="{'container-fluid': ! globalStore.displayedArticle, 'col-md-6': globalStore.displayedArticle}">
          <app-article-list *ngIf="globalStore.displayedArticles" [articles]="globalStore.displayedArticles" (article)="globalStore.displayedArticle = $event"></app-article-list>
      </div>
  </div>
</div>
