<app-header></app-header>
<div class="full-container">
  <!--      TODO Display Tags for filter-->
  <!--      <span *ngFor="let tag of globalStore.allTags">-->
  <!--      <div>-->
  <!--        <input [attr.id]="tag.id" type="checkbox" (click)="tag.selected = !tag.selected; globalStore.loadArticles()" [checked]="tag.selected">-->
  <!--        <label [attr.for]="tag.id">{{ tag.title }}</label>-->
  <!--      </div>-->
  <!--    </span>-->
    <div class="container-fluid ">
        <div class="action-buttons cancel-search-button">
            <button *ngIf="globalStore.isSearchContext" (click)="displayArticles()" mat-flat-button color="warn">
                Cancel Search
            </button>
        </div>
        <div class="action-buttons">
            <button [routerLink]="routerService.generate('app_article_create')" mat-flat-button color="primary">
                Create new article
            </button>
        </div>
    </div>
  <div class="article">
      <div class="col-md-6">
          <app-current-article *ngIf="globalStore.displayedArticle" [article]="globalStore.displayedArticle" (closeArticle)="globalStore.displayedArticle = undefined"></app-current-article>
      </div>
      <div [ngClass]="{'container-fluid': ! globalStore.displayedArticle, 'col-md-6': globalStore.displayedArticle}">
          <app-article-list [isSearchContext]="globalStore.isSearchContext" [articles]="globalStore.displayedArticles" (article)="displayArticle($event)" (loadMore)="globalStore.loadArticles()"></app-article-list>
      </div>
  </div>
</div>
